<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>
        <property name="hibernate.connection.socketFactory">com.google.cloud.sql.mysql.SocketFactory</property>
        <property name="hibernate.connection.url">jdbc:mysql://google/stuff?cloudSqlInstance=primal-gear-188300:us-central1:toast</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">rootrootroot</property>

        <mapping class="content_server.db.entity.ThingEntity"/>
    </session-factory>
</hibernate-configuration>